#img-header {
   align:center;
   margin-top: 0;
}
.txt-header {
	text-align: center;
	margin: 0;
	padding: 0;
}

.md-typeset h1 {
	margin: 0;
}

.md-content {
	margin: 0 !important;
}

#first-header {
	margin-top: 0;
	padding: 0;
	font-weight: bold;
	color: #6F50C7;
}

#second-header{
	margin-top: 0;
}

.video-container {
  width: 600px;
  height: 400px; 
}

video {
  width: 100% !important;
  height: auto !important;
}

.button {
  display: inline-block;
  border-radius: 14px;
  background-color: #6F50C7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

